<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="base::layout(~{::section})">
<head>
<title>Login</title>
<!-- Add Bootstrap CSS -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	class="bg-light d-flex justify-content-center align-items-center mx-auto vh-100">
	<section class="card mx-auto p-4 shadow-lg" style="max-width: 400px;">
		<h3 class="text-center mb-4">Login</h3>
		<p class="text-center text-success fs-6" sec:authorize="isAuthenticated()">
			Already Logged in <a href="/bharattrains/auth/login"
				class="text-decoration-none">Login</a>
		</p>
		<p class="text-center text-danger fs-6" th:if="${param.error}">
			Invalid username or password. Please try again.</p>
		<form th:action="@{/bharattrains/auth/login}" method="post">
			<div class="mb-3">
				<label class="form-label">Username</label> <input type="text"
					class="form-control" name="username" required>
			</div>
			<div class="mb-3">
				<label class="form-label">Password</label> <input type="password"
					class="form-control" name="password" required>
			</div>
			<button type="submit" class="btn btn-success w-100">Login</button>
		</form>
        <p class="text-center mt-3">
            Don't have an account? <a href="/bharattrains/auth/register" class="text-decoration-none">Register</a>
        </p>
	</section>

	<!-- Add Bootstrap JS and dependencies -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>